<%- include ../header.ejs%>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-6">
                        Họ tên
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include ../footer.ejs%>