<div class="col-md-2">
    <div id="div-list-user-online">
        <!-- Content list user online-->
    </div>
</div>
<div class="col-md-10">
    <input type="hidden" id="">
    <input type="hidden" id="txt-session-userId" value="<%=session.userId%>">
    <input type="hidden" id="txt-session-fullname" value="<%=session.fullname%>">
    <input type="hidden" id="txt-session-avatar" value="<%=session.avatar%>">
    <input type="hidden" id="txt-session-sex" value="<%=session.sex%>">
    <div>

        SlideShare Newsletter

        Presentation Persuasion: 5 Proven Ways to Succeed - SlideShare Newsletter 5 Proven Ways to Be Persuasive With Presentations The Power of Persuasion: 5
        07:34

        Không được gắn dấu sao

        Flexera Software LLC

        dang111517@student.ctu.…

        Register Now: Hear How Dell Finds, Tracks and Manages Hardware Assets - Trouble viewing this email? Read it in your Browser. Follow Us: RSS YouTube Twitter LinkedIn Google+
        20:48

        Không được gắn dấu sao

        SlideShare (2)

        More content like "Lập trình hướng đối tượng trong Javascript và các kiểu mẫu thiết kế" - SlideShare is now on Android. Get the app We found something with that might be interesting for you
        12 thg 7

        Không được gắn dấu sao

        SlideShare

        Nguyễn Hải Đăng, welcome to SlideShare! - Explore the world's largest community for sharing professional content Remember to display images
        12 thg 7

        Không được gắn dấu sao

        OpenShift by Red Hat

        OpenShift Newsletter: June 2015 - June 2015 View in a browser What's Happening OpenShift Enterprise 3: Evolving PaaS for the Future
        1 thg 7

        Được gắn dấu sao

        Vietnamworks

        Tuyển Gấp Kỹ Sư Phần Mềm - Tuyển IT ENGINEER Công việc IT hiện tại quá nhàm chán, bạn đang muốn thử thách bản thân trong một môi
        25 thg 6

        Không được gắn dấu sao
        container
        {
        background: #ddd;
        width: 500px;
        height: 1000px;
        margin-bottom: 200px;
        position: relative;
        }
        .docked
        {
        width: 150px;
        background: #fff;
        padding: 10px;
        margin: 10px;
        left: 50%;
        margin-left: -75px;
        margin-top: -20px;
        text-align: center;
        position: fixed;
        bottom: 0;
        box-sizing: border-box;
        }

        jQuery/Javascript

        $(document).ready(function () {
        $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        var totalHeight = scroll + windowHeight;
        var containerHeight = $(".container").height();
        if (totalHeight > containerHeight)
        $(".docked").css({ bottom: totalHeight - containerHeight });
        else
        $(".docked").css({ bottom: 0 });
        });
        });

        shareimprove this answer

        answered Jan 20 at 20:27
        FarligOpptreden
        2,8001119



        Works great! Thank you very much! :) –  FoxRider Jan 21 at 12:59


        It's a pleasure! Glad I could point you in the right direction. –  FarligOpptreden Jan 21 at 16:33
        Claire at Stormpath

        Extra! Extra! Stormpath + Angular.js Webinar - Click 'display images' for the full Stormpath effect. This is an email about a front-end
        25 thg 6

        Không được gắn dấu sao

        OpenShift by Red Hat

        OpenShift at Red Hat Summit and DevNation 2015 - View this email in your browser OpenShift by Red Hat Join OpenShift at Red Hat Summit and DevNation!
        19 thg 6

        Không được gắn dấu sao

        Claire at Stormpath

        Back By Popular Demand: REST API Security Webinar - Secure All The API! Then, for maximum fun click 'enable images' Upcoming Webinar: API
        9 thg 6

        Không được gắn dấu sao

        Flexera Software LLC

        dang111517@student.ctu.…

        Complimentary Software License Optimization White Papers! - Trouble viewing this email? Read it in your Browser. Follow Us: RSS YouTube Twitter LinkedIn Google+
        3 thg 6
        1,32 GB (8%) trong tổng số 15 GB được sử dụng
        Quản lý
        Điều khoản - Bảo mật
        Hoạt động tài khoản gần đây nhất: 15 phút trước
        Chi tiết
        SlideShare Newsletter Presentation Persuasion: 5 Proven Ways to Succeed - SlideShare Newsletter 5 Proven Ways to Be Persuasive With Presentations The Power of Persuasion: 5 07:34 Không được gắn dấu sao Flexera Software LLC dang111517@student.ctu.… Register Now: Hear How Dell Finds, Tracks and Manages Hardware Assets - Trouble viewing this email? Read it in your Browser. Follow Us: RSS YouTube Twitter LinkedIn Google+ 20:48 Không được gắn dấu sao SlideShare (2) More content like "Lập trình hướng đối tượng trong Javascript và các kiểu mẫu thiết kế" - SlideShare is now on Android. Get the app We found something with that might be interesting for you 12 thg 7 Không được gắn dấu sao SlideShare Nguyễn Hải Đăng, welcome to SlideShare! - Explore the world's largest community for sharing professional content Remember to display images 12 thg 7 Không được gắn dấu sao OpenShift by Red Hat OpenShift Newsletter: June 2015 - June 2015 View in a browser What's Happening OpenShift Enterprise 3: Evolving PaaS for the Future 1 thg 7 Được gắn dấu sao Vietnamworks Tuyển Gấp Kỹ Sư Phần Mềm - Tuyển IT ENGINEER Công việc IT hiện tại quá nhàm chán, bạn đang muốn thử thách bản thân trong một môi 25 thg 6 Không được gắn dấu sao container { background: #ddd; width: 500px; height: 1000px; margin-bottom: 200px; position: relative; } .docked { width: 150px; background: #fff; padding: 10px; margin: 10px; left: 50%; margin-left: -75px; margin-top: -20px; text-align: center; position: fixed; bottom: 0; box-sizing: border-box; } jQuery/Javascript $(document).ready(function () { $(window).scroll(function () { var scroll = $(window).scrollTop(); var windowHeight = $(window).height(); var totalHeight = scroll + windowHeight; var containerHeight = $(".container").height(); if (totalHeight > containerHeight) $(".docked").css({ bottom: totalHeight - containerHeight }); else $(".docked").css({ bottom: 0 }); }); }); shareimprove this answer answered Jan 20 at 20:27 FarligOpptreden 2,8001119 Works great! Thank you very much! :) – FoxRider Jan 21 at 12:59 It's a pleasure! Glad I could point you in the right direction. – FarligOpptreden Jan 21 at 16:33 Claire at Stormpath Extra! Extra! Stormpath + Angular.js Webinar - Click 'display images' for the full Stormpath effect. This is an email about a front-end 25 thg 6 Không được gắn dấu sao OpenShift by Red Hat OpenShift at Red Hat Summit and DevNation 2015 - View this email in your browser OpenShift by Red Hat Join OpenShift at Red Hat Summit and DevNation! 19 thg 6 Không được gắn dấu sao Claire at Stormpath Back By Popular Demand: REST API Security Webinar - Secure All The API! Then, for maximum fun click 'enable images' Upcoming Webinar: API 9 thg 6 Không được gắn dấu sao Flexera Software LLC dang111517@student.ctu.… Complimentary Software License Optimization White Papers! - Trouble viewing this email? Read it in your Browser. Follow Us: RSS YouTube Twitter LinkedIn Google+ 3 thg 6 1,32 GB (8%) trong tổng số 15 GB được sử dụng Quản lý Điều khoản - Bảo mật Hoạt động tài khoản gần đây nhất: 15 phút trước Chi tiết
    </div>
</div>
<div id="div-chat-content">
    <!--<div class="div-title-chat">-->
            <!--<div align="left" style="display: inline-block; color: #006600;" id="div-fullname-user">-->
            <!--</div>-->
            <!--<div align="right" style="display: inline-block">-->
                <!--<button class="btn-close-div-chat"><span class="glyphicon glyphicon-remove"></span></button>-->
            <!--</div>-->
    <!--</div>-->
    <!--<div class="div-content-messages">-->
    <!--</div>-->
    <!--<div id="div-text-chat">-->
        <!--<textarea id="txtChatContent" style="width: 224px; height: 43px; resize: none"></textarea>-->
    <!--</div>-->
</div>