
</div><!-- container-->
</div>
<div id="footer">
    <div class="container">
        <p class="text-muted">Copyright by Dang Nguyen</p>
    </div>
</div>
<!-- Core Scripts - Include with every page -->


<script src="./js/jquery-1.11.1.js"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/lib.js"></script>
<script src="./js/register.js"></script>
<%if(session.userId){%>
<script src="./socket.io/socket.io.js"></script>
<script src="./js/chat.js"></script>
<%}%>
</body>
</html>
