<% include header.ejs %>
<div class="row">
    <%if(!session.userId){%>
    <div class="col-md-6">
        <div id="div-form-login">
bmbjmbqjm
            <% if(history){
                %>
            <a><%=history[0]%></a>
            <%
            }%>
        </div>
    </div>
    <div class="col-md-6">
        <img src="./images/2ik.png" width="600" height="500">

    </div>
    <%}
    else
    {%>
    <% include chat.ejs%>
    <%}%>
</div>
<% include footer.ejs %>