<% include header.ejs %>
<div class="row">
<div class="col-md-6">
  <div id="div-form-register">
    <form action="" method="get">
      <font color="blue" size="6">Sign up</font>
      &nbsp;&nbsp;&nbsp;&nbsp;<div id="err-register" style="color: red; font-style: italic"></div>
      <div class="form-group">
        <label for="txtFullName">Full name</label>
        <input type="text" id="txtFullName" placeholder="Full name" class="form-control">
        <div id="err-fullname" style="color: red; font-style: italic"></div>
      </div>
      <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="sex" id="sex" value="Male" checked> Male
        </label>
        <label class="radio-inline">
          <input type="radio" name="sex" id="sex" value="Female"> Female
        </label>
      </div>
      <div class="form-group">
        <label for="txtBirtday">Birthday</label>
        <input type="text" id="txtBirthday" placeholder="dd/mm/yyyy" class="form-control">
        <div id="err-birthday" style="color: red; font-style: italic"></div>
      </div>
      <div class="form-group">
        <label for="txtEmail">Email</label>
        <input type="text" id="txtEmail" placeholder="someone@gmail.com" class="form-control" autocomplete="off">
        <div id="err-email" style="color: red; font-style: italic"></div>
      </div>
      <div class="form-group">
        <label for="txtPassword">Password</label>
        <input type="password" id="txtPassword" class="form-control">
        <div id="err-password" style="color: red; font-style: italic"></div>
      </div>
      <div class="form-group">
        <label for="txtPassword2">Re-enter password</label>
        <input type="password" id="txtPassword2" class="form-control">
        <div id="err-password2" style="color: red; font-style: italic"></div>
      </div>
      <button id="btnRegister" type="button" class="btn btn-warning">Register</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </form>
  </div>

</div>
  <div class="col-md-6">
    <img src="./images/2ik.png" width="600" height="500">
  </div>
</div>
<% include footer.ejs %>