<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    kewhgkjnwk gwkhrw nhrwnh wiohw
</div>
<script src="./socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('info', function(st){
        alert(socket.id);
    })
    socket.on('private message', function(st){
        alert('wjqbjq');
    })
    io.sockets.socket("uDAJSIKAy2xmC5sYAAAF").emit('private message', 'jshjk', socket.id);

</script>
</body>
</html>